{% extends 'layouts/master.twig' %}

{% block title %}Notifications{% endblock %}

{% block content %}
  <section class="container generic-page">
    <h1>Notifications</h1>
    <p>Customer notifications center.</p>
  </section>
{% endblock %}
