{% extends 'layouts/master.twig' %}

{% block title %}{{ 'loyalty_program'|trans }}{% endblock %}

{% block content %}
  <section class="container generic-page">
    <h1>{{ 'loyalty_program'|trans }}</h1>
    <p>{{ 'loyalty_placeholder'|trans }}</p>
  </section>
{% endblock %}
