{% extends 'layouts/master.twig' %}

{% block title %}Order Details{% endblock %}

{% block content %}
  <section class="container generic-page">
    <h1>Order Details</h1>
    <p>Single order details page template.</p>
  </section>
{% endblock %}
