<section class="newsletter container">
  <h3>{{ 'newsletter'|trans }}</h3>
  <form class="newsletter-form">
    <input type="email" placeholder="{{ 'email_address'|trans }}" aria-label="{{ 'email_address'|trans }}">
    <button class="btn-primary" type="button">{{ 'subscribe'|trans }}</button>
  </form>
</section>
