{% extends 'layouts/master.twig' %}

{% block title %}{{ 'brands'|trans }}{% endblock %}

{% block content %}
  <section class="container generic-page">
    <h1>{{ 'brands'|trans }}</h1>
    <p>{{ 'brands_intro'|trans }}</p>
  </section>
{% endblock %}
